// Colors: (on peut ajouter un dark mode par exemple)
:root{
    --primary-color: #112E3A;
    --second-color: #C9171A;
    --defaut-color: #fff;
    --background-color: #fff;
    --black-color: #000;
}

// En scss on peut ajouter des commentaires en utilisant des doubles slashs devant

// On peut créer des variables pour les fonts:
$title-font: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
$default-font: 'Noto Sans', sans-serif;

// Imports, on decoupe notre code scss en plusieurs morceaux. Exemple: fonts, defaut, header, footer, main
@import '_reset';
@import 'mixins';
@import '_header';
@import '_default';
@import '_footer';


*{
    box-sizing: border-box;
}

body{
    background-color: var(--background-color);
    font-family: 'Noto Sans', sans-serif;
    p{
        color: var(--black-color);
        font-weight: 300;
        font-size: 16px;
    }
}


main {

    a{
        text-decoration: none;
    }
    .contentWrapper {
        max-width: 1400px;
        width: 100%;
        margin-right: auto;
        margin-left: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .bestRated{
        background-color: var(--primary-color);
        width: 1250px;
        border-radius: 20px;
        margin-top: 20px;
        padding: 20px 0;
        margin-bottom: 50px;
        text-align: center;
        text-shadow: 2px 2px 4px rgba(0,0,0,0.9);
        box-shadow: 0px 4px 5px rgba(0,0,0,0.2);

        img{
            box-shadow: 0px 4px 5px rgba(0,0,0,0.2);
        }
    }

    .bestRated h2{
        color: var(--defaut-color);
        font-size: 16px;
        text-transform: uppercase;
        font-weight: 700;
        text-align: center;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .bestRated .movieBox{
        background-color: var(--second-color);
        max-width: 1200px;
        width: 100%;
        border-radius: 20px;
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
        position: relative;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        box-shadow: 0px 4px 5px rgba(0,0,0,0.2);
    }

    .bestRated article{
        margin: 20px;
        max-width: 260px;
        width: 100%;
        background-color: var(--primary-color);
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0px 4px 5px rgba(0,0,0,0.2);
    }

    .bestRated .leftArrow{
        position: absolute;
        left: 20px;
        top: 125px;
    }

    .bestRated .rightArrow{
        position: absolute;
        right: 20px;
        top: 125px;
    }

    .bestRated .moreBtn{
        display: inline-block;
        color:var(--defaut-color);
        background-color: var(--second-color);
        text-decoration: none;
        text-align: center;
        padding: 20px 30px;
        border-radius: 10px;
        text-transform: uppercase;
        font-weight: 700;
        margin-bottom: 10px;
        box-shadow: 0px 4px 5px rgba(0,0,0,0.2);
    }

    .latestReleases{
        background-color: var(--primary-color);
        width: 600px;
        border-radius: 20px;
        margin-top: 20px;
        padding: 20px 0;
        margin-bottom: 50px;
    }

    .latestReleases h2{
        color: var(--defaut-color);
        font-size: 20px;
        text-transform: uppercase;
        font-weight: 700;
        text-align: center;
        margin-top: 10px;
    }

    .latestReleases .redBG{
        background-color: var(--second-color);
        width: 560px;
        border-radius: 20px;
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    .latestReleases .moreBtn{
        display: inline-block;
        color:var(--defaut-color);
        background-color: var(--primary-color);
        text-decoration: none;
        text-align: center;
        padding: 20px 30px;
        border-radius: 10px;
        text-transform: uppercase;
        font-weight: 700;
        margin-bottom: 20px;
        margin-top: 80px;
    }

}

.content-bg{
    background-color: var(--primary-color);
    max-width: 840px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 4px 5px rgba(0,0,0,0.2);
}

#details-movie{
    max-width: 800px;
    width: 100%;
    padding: 5px 20px;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--second-color);
    color: var(--defaut-color);
    border-radius: 20px;
    font-family: 'Noto Sans', sans-serif;
    line-height: 1.45em;
    box-shadow: 0px 0px 4px 5px rgba(0,0,0,0.2);
    text-shadow: 2px 2px 4px rgba(0,0,0,0.9);

    .wrapper{
        background-color: var(--primary-color);
        margin: 20px;
        border-radius: 20px;
        display: flex;
        box-shadow: 0px 0px 4px 5px rgba(0,0,0,0.2);
    }

    .col{
        margin: 30px;
    }

    .col p{
        color: var(--defaut-color);
        font-size: 12px;
        text-align: center;
    }



    h1 {
       font-size: 24px;
       font-weight: 700;
       text-transform: uppercase;
       text-align: center;
       margin: 30px 0;
       
    }

    li{
        margin-top: 20px;
        font-size: 12px;
        font-weight: 400;
    }

    img{
        width: 260px;
        box-shadow: 0px 0px 4px 5px rgba(0,0,0,0.2);
    }

    .trailler{
        padding: 10px 30px;
        color: var(--defaut-color);
        background-color: var(--second-color);
        border-radius: 5px;
        font-size: 10px;
        text-decoration: none;
        font-weight: 700;
        text-transform: uppercase;
        margin-left: 30px;
        box-shadow: 0px 0px 4px 5px rgba(0,0,0,0.2);
    }

    .head{
        display: flex;
        font-weight: 700;
        font-size: 12px;
    }

    .head div:first-child{
        margin-right: 30px;
    }

    .synopsis{
        font-size: 14px;
    }
}