{% extends 'layouts/public.twig' %}
{% block title %}Accueil{% endblock %}

{% block content %}

<main>
    <div class="contentWrapper">
        <div class="bestRated">
            <h2>Les derniers ajoutés:</h2>
            <div class="movieBox">

                {% for movie in movies %}
                    {% if get.search is empty or search(movie.title, get.search) %}
                        <article>
                            <a href="{{ getUrl('details', { 'slug' : movie.slug }) }}">
                                <img src="{{ movie.poster }}" alt="{{ movie.title }}">
                                <h2> {{ movie.title }} </h2>
                            </a>
                        </article>
                    {% endif %}
                {% endfor %}

            </div>
            <a class="moreBtn" href="">Voir Plus</a>
        </div>
    </div>
</main>

{% endblock %}
